.add-book-container {
    text-align: center;
    justify-self: center;

    .results-container {
        width: 99vw;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        .results-book {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f4f4f4;
            margin: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 260px;



            .book-title {
                min-height: 2.5rem;
            }

            button {
                padding: .5rem;
                position: relative;
                top: 0;
                color: #f4f4f4;
                letter-spacing: 0.025rem;
            }
        }
    }

    form {
        display:flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
        padding: 2rem;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 3rem;
                font-weight: 250;
                color: #003eff;
            }

            input {
                width: 300px;
                padding: 10px 0;
                margin:1px;
                text-align: center;
            }

            button {
                width: 200px;
                height: 40px;
                margin: 5px;
                color: #f4f4f4;   
            }

            a{
                width: 200px;
                height: 40px;
                margin: 5px;  
            }
        }

    }

}
