.booklist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    .list-header {
        display: flex;
        flex-direction: column;
        text-align: center;
       
        
        
        .list-header-actions{
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .search{
                max-width: 150px;
            }
           
        }
        
        h4 {
            font-size: 2rem;

        }

        button {
            
            margin: auto;
            color: #f4f4f4;

        }

       
    }

    

    .list-body {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content:center;

        .list-book {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f4f4f4;
            margin:10px;
            width:260px ;
            align-items: center;

            

            a {
                text-decoration: none;
                display: flex;
                flex-grow: 2;
                justify-content: space-between;

                

                .book-title {
                    min-height: 2.8rem;
                    font-size: 1.2rem;
                    color: black;
                    margin: 15px 10px 0px;
                }

                .book-author {
                    color: #0a0a0a;
                }

            }


            button {
                width: 140px;
                position: relative;
                margin: 1vw;
                margin-top: 3vh;
                background-color: #B33A3A;
                color: #f4f4f4;
                letter-spacing: 0.025rem;
                padding: 5px;

            }
        }
    }

    .multi-cover-image {
        height: 20vh;
    }  
}


    

