// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@import 'mixins';


@import 'book';
@import 'booklist';
@import 'add_book';




body {
    font-family: sans-serif;
    letter-spacing: 0.025rem;

    #app {
        min-height: 100vh;
        position: relative;

        .list-container,
        .booklist-container,
        .add-book-container {
            padding-bottom: 2.5rem;
           
        }

        .back-to-list-btn {
            padding: 10px;
            margin: 20px 20px 20px 20px;

            background-color: #003EFF;
            color: #f4f4f4;
        }
    }
}
