
        body {
            width: 100vw;
            padding: 0;
            margin: 0;
            background-color: #45348B;
            font-family: 'Comic Sans MS', sans-serif;
        }
        

        #camera canvas {
            position: absolute; 
            top: 0; 
            left: 0;
        }
        
        #camera{
            max-width: 720px;
        }
        .navbar {

            display: flex;
            font-size: 18px;
            background-color: #1D0580;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }
        
        .main-nav {
            list-style-type: none;
            display: none;
        }
        
        .nav-links {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        
        }
        
        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }
        
        .menu {
            display: flex;
            align-items: center;
        
        }
        
        #a-titre {
            font-family: "Comic Sans MS";
            font-size: 35px;
            text-align: center;
            color: #EAEAEA;
            margin-bottom: 10px;
        
        
        }
        
        
        
        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }
        
            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }
        
            .main-nav li {
                margin: 0;
            }
        
            .nav-links {
                margin-left: 40px;
                text-decoration: none;
            }
        
        
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
            }
        
            .navbar-toggle {
                display: none;
            }
        }
        
        
        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: #EAEAEA;
            font-size: 24px;
        }
        
        